@mixin animation($name, $dur) {
    -webkit-animation: $name $dur;
       -moz-animation: $name $dur;
        -o-animation: $name $dur;
            animation: $name $dur;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name { @content; }
     @-moz-keyframes $name { @content; }
       @-o-keyframes $name { @content; }
          @keyframes $name { @content; }
}

$info-color: #888;
$warning-color: #FFFF7E;
$error-color: #bf0000;

.notification {
    float: left;
    min-width: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    left: 10px;
    top: 0;
    opacity: 0;
    z-index: 300;
    @include animation(slideIn, 2s);

    span {
        font-weight: bold;
        color: #ddd;
    }
}

.info {
    background-color: $info-color;
}

.warning {
    background-color: $warning-color;
}

.error {
    background-color: $error-color;
}

@include keyframes(slideIn) {
    0%   {left: -200px; opacity: 1;}
    50%  {left: 10px; opacity: 1;}
    100% {opacity: 0;}
}